{% extends 'dashboard.html.twig' %}

{% block title %}Edit ProductSubCategory{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm"> <!-- Ajout d'une ombre pour plus de profondeur -->
                <div class="card-header bg-warning text-white"> <!-- Utilisation de couleurs pour distinguer la tête de carte -->
                    Edit ProductSubCategory
                </div>
                <div class="card-body">
                    {{ include('product_sub_category/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <a href="{{ path('app_product_sub_category_index') }}" class="btn btn-outline-warning">Back to list</a>
                    {{ include('product_sub_category/_delete_form.html.twig', {
                        'button_class': 'btn btn-danger',
                        'button_label': 'Delete'
                    }) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
